@import "header/header";

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: calc(100% - $topMargin);
}

body {
  background-color: #f2f2f2;
}

body[noscroll] {
  overflow: hidden;
}

/**[display] {
  display: block !important;
}*/

#dark-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: #000;
  z-index: 0;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

#dark-overlay[active] {
  opacity: 0.3;
  visibility: visible;
}
