@import "variables";

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: calc(100% - #{$topMargin});
}

body {
  background-color: #f2f2f2;
}

body[noscroll] {
  overflow: hidden;
}

#dark-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: #000;
  z-index: 1;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

#dark-overlay[active] {
  opacity: 0.3;
  visibility: visible;
}

#header-toggle {
  background: none;
  border: none;
  outline: none;
  position: relative;
}

#header-toggle i {
  font-size: clamp(16px, 5vw, 25px);
  transition: all 0.5s ease;
}

#header-toggle i:first-child {
  opacity: 1;
}

#header-toggle i:last-child {
  opacity: 0;
  position: absolute;
  top: 1px;
}

#header-toggle[isDocked] i:first-child {
  opacity: 0;
}

#header-toggle[isDocked] i:last-child {
  opacity: 1;
}

@media only screen and (min-width: 700px) {
  #header-toggle {
    display: none;
  }
}
