@font-face {
  font-family: open-sans-regular;
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: open-sans-semibold;
  src: url("/assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: open-sans-bold;
  src: url("/assets/fonts/OpenSans-Bold.ttf");
}

header {
  position: fixed;
  right: 0;
  width: 60%;
  z-index: 1;
  max-width: 400px;
  margin-top: 40px;
  padding: 10% 0 40% 0;
  overflow: hidden;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px 0px 0px 30px;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

header[isdocked] {
  right: -65%;
}

main {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

main[isdocked] {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}

header h1 {
  display: none;
}

header h1 a {
  text-decoration: none;
  color: #303030;
}

header figure {
  margin: 15% 0;
}

header figure img {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

header figure > .wrapper {
  text-align: center;
}

header figure i {
  font-size: 15vw;
  text-align: center;
}

header figure figcaption {
  margin: 10%;
  text-align: center;
}

header figure figcaption #name {
  font-family: "open-sans-regular", Arial, Helvetica, sans-serif;
  font-size: clamp(13px, 4.5vw, 40px);
  display: block;
}

header figure figcaption #name b {
  font-family: "open-sans-bold", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

header figure figcaption button {
  font-family: "open-sans-regular", Arial, Helvetica, sans-serif;
  font-size: clamp(7px, 3.5vw, 25px);
  margin: 0 auto;
  outline: none;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

header figure .wrapper figcaption button:hover {
  font-family: "open-sans-semibold", Arial, Helvetica, sans-serif;
}

header figure figcaption form {
  margin: 5%;
}

header nav {
  margin: 0 10%;
  width: 80%;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li a {
  font-family: "open-sans-regular", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: clamp(7px, 3.5vw, 25px);
  color: #303030;
}

header nav ul li a:hover {
  font-family: "open-sans-semibold", Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 700px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 90%;
    max-width: none;
    margin: 40px auto 0 auto;
    border-radius: 30px;
    float: none;
    padding: 0;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
  header[isdocked] {
    right: 0;
  }
  main {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
  main[isdocked] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header h1 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: "open-sans-semibold", Arial, Helvetica, sans-serif;
    font-size: clamp(18px, 1.35vw, 25px);
    margin: 0 12px;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  header h1 br {
    display: block;
  }
  header nav {
    display: inline-block;
    width: auto;
    margin: 0;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav ul li a {
    font-size: clamp(14px, 1.5vw, 18px);
    padding: 5px 9px;
  }
  header nav ul li a:hover {
    padding: 5px 8px;
  }
  header figure {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 30px 0 auto;
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header figure .wrapper {
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header figure img {
    display: inline-block;
    height: 80%;
    width: auto;
    padding: 10px 4px;
    margin: 0;
  }
  header figure i {
    font-size: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  header figure figcaption {
    margin: 0;
    height: 100%;
    display: inline-block;
  }
  header figure figcaption .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: calc(100% - 20px);
    padding: 10px 4px;
    min-width: 115px;
  }
  header figure figcaption #name,
  header figure figcaption button {
    font-size: clamp(14px, 1.5vw, 18px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0 auto;
  }
  header figure .wrapper:hover figcaption #name {
    opacity: 0;
    visibility: hidden;
  }
  header figure figcaption form {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    margin: 0;
  }
  header figure .wrapper figcaption button {
    text-align: center;
    padding: 0 1px;
  }
  header figure .wrapper:hover figcaption form {
    opacity: 1;
    visibility: visible;
  }
  header figure .wrapper figcaption button:hover {
    padding: 0;
  }
}

@media only screen and (min-width: 850px) {
  header h1 {
    margin: 0 50px;
  }
  header figure img {
    padding: 10px;
  }
  header figure figcaption .wrapper {
    padding: 10px;
  }
}
/*# sourceMappingURL=header.css.map */